body {
    width: 300px;
    text-align: center;
    overflow: scroll;
    z-index: 0;
}

#add {
    margin-top: 10px;
    width:270px;
    height: 210px;
    display:none;
    border: 1px solid black;
    border-radius: 15%;
    overflow: hidden;
    background-color: lightblue;
    z-index: 9999;
}


#chat-input {

}

.finished, .remove, .prior {
    float: right;
}
.project {
    float: left;
}
.todo {
    font-size: 20px;
    font-weight: bold;
}

.sliders {
    clear: both;
    text-align: left;
    background-color: whitesmoke;
    margin-top: 5px;
    margin-bottom: 5px;
    top: 0px;

}

.sliders:hover {
    border: 1px solid black;
    -moz-box-shadow: 5px 5px 3px gray;
    -webkit-box-shadow: 5px 5px 3px gray;
    box-shadow: 5px 5px 3px gray;
}

#rearrage {
    margin-top: 20px;
    margin-bottom: 20px;
}
.whole-page {
    margin-top: 10px;
    max-height: 400px;
    overflow: scroll;
}
.slider-for-each-todo{
    margin-top: 10px;
}
